:root {
    box-sizing: border-box;
    font-size: 0.885rem;
    font-family: "Rubik", "sans-serif";
    --green: #198754;
    --dark: #292a2b;
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --black: #000;
    --white: #fff;
    --gray: #6c757d;
background-color: #000;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: inherit;
    outline: 0 none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Titilium Web", sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.9rem;
}

h6 {
    font-size: 0.7rem;
}

#greet, li{
    color: white;
}



/*Bootstrap Breakpoints

  /* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}